# 1. 忽略所有 CMake 产生的垃圾 (无论在根目录还是子目录)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
.cmake/
compile_commands.json

# 2. 忽略 Qt/IDE 产生的目录
build-*/
*.cbp

# 3. 忽略二进制编译产物 (先全部屏蔽)
*.a
*.o
*.so
*.dll
*.exe
*.out
*.lib

# 4. [绝对禁止] 忽略密钥
*.key
*.crt

# 5. [特赦] 强制保留 client/thirdparty 下的所有东西
!client/thirdparty/**
